@import 'normalize.css';
@import 'fonts';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}